.main-nav__toggle {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 23px;
    height: 22px;
    background-color: #eeeeee;
    cursor: pointer;
    border: none;
}

.main-nav__list a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba (255, 255, 255, 0.2);
}

.site-list__item a {
    background-color: #81b3d2;
} 


}